{% extends "template.html" %}

{% block title %}Account Management{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='bower_components/country-select-js/build/css/countrySelect.min.css') }}"
          rel="stylesheet">
{% endblock %}


{% block page_title %}
    <h1>Account Management</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            {{ display_warnings() }}


            <form method="post" action="{{ url_for('auth.management') }}" accept-charset="UTF-8" role="form">
                {{ form.csrf_token }}

                <h2 class="page-header">Personal Information</h2>

                {{ render_form_field(form.first_name, label='First Name', required=True, value=g.user.first_name) }}
                {{ render_form_field(form.mid_initials, label='Middle Initials', value=g.user.mid_initials) }}
                {{ render_form_field(form.last_name, label='Last Name', required=True, value=g.user.last_name) }}

                <h2 class="page-header">Contact Information</h2>

                {{ render_form_field(form.affiliation, label='Affiliation', value=g.user.affiliation) }}
                {{ render_form_field(form.address, label='Address', value=g.user.address) }}

                {{ render_form_field(form.phone, label='Phone Number', value=g.user.phone) }}

                {{ render_form_field(form.country, type="country", label='Country', value=g.user.country) }}

                <h2 class="page-header">Account Information</h2>

                <div class="form-group row">
                    <label class="col-sm-3">Username:</label>
                        <div class="col-sm-9">{{ g.user.user_name}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3">Email Address:</label>
                        <div class="col-sm-9">{{ g.user.email_address}}</div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3">Account Created:</label>
                    <div class="col-sm-9">{{ g.user.creation_date.strftime('%d-%m-%Y')}}</div>
                </div>



                <div class="form-group row">
                    <button id="register-button" class="btn btn-success pull-right" type="submit">
                        <i class="glyphicon glyphicon-upload"></i> Update Account Information
                    </button>
                </div>
            </form>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Profile Picture</h4>
                </div>
                <div class="panel-body">
                    <img src="{{ g.user.avatar(300) }}", class="img-responsive img-circle">
                    <p class="text-center">DIMEdb avatars are provided by <a href="http://en.gravatar.com/" target="_blank">Gravatar</a></p>
                </div>
            </div>

            <a href="{{ url_for('auth.reset_password_email') }}">
                <div class="btn btn-warning full-width">
                    <i class="glyphicon glyphicon-lock"></i> Change Password
                </div>
            </a>

        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/country-select-js/build/js/countrySelect.min.js') }}"></script>
    <script>
        $("#country_selector").countrySelect({
            defaultCountry : "gb"
        })
    </script>
{% endblock %}