{% extends "template.html" %}

{% block title %}Forgotten Password{% endblock %}

{% block page_title %}
    <h1>Password Reset Form</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <form method="post" action="{{ url_for('auth.reset_password_email') }}" accept-charset="UTF-8" role="form">
                {{ form.csrf_token }}

                {{ render_form_field(form.email_address, label='Email Address') }}

                <div class="form-group row">
                    <button class="btn btn-success full-width" type="submit">Resend Email
                    </button>
                </div>

            </form>
        </div>
        <div class="col-sm-3">

        </div>
    </div>

{% endblock %}