{% extends "template.html" %}

{% block title %}Reset Password{% endblock %}


{% block head %}
    <link href="{{ url_for('static', filename='css/auth/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">

                        <img src="{{ url_for('static', filename='imgs/dimedb.svg') }}">
                        <h2 class="page-header">Password Reset Form</h2>
            <form method="post" action="#" accept-charset="UTF-8" role="form">
                {{ form.csrf_token }}

                {{ render_form_field(form.password, label='Password', type="password") }}
                {{ render_form_field(form.password_confirm, label='Re-enter password', type="password") }}


                <div class="form-group row">
                    <button class="btn btn-success full-width" type="submit">Resend Email
                    </button>
                </div>
            </form>
                        </div>
                    </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>

{% endblock %}