{% macro list2text(list) %}
    {% if list|length > 0 %}
      <span class="comment more">
      {% for item in list %}
        {{ item }};
      {% endfor %}
      </span>
    {% else %}
      <i>Not available.</i>
    {% endif %}
{% endmacro %}

{% macro textcheck(text) %}
  {% if text != None %}
    {% if text|length > 30 %}
      <span class="comment more">{{ text }}</span>
    {% else %}
      {{ text }}
    {% endif %}
  {% else %}
    <i>Not available.</i>
  {% endif %}
{% endmacro %}

{% macro populate_pathways(pathway_list, heading) %}
  {% if pathway_list|length > 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ heading }}</div>
      <ul class="list-group">
      {% for pathway in pathway_list %}
          <li class="list-group-item">{{ pathway }}</li>
      {% endfor %}
      </ul>
      </div>
  {% else %}
    <div class="alert alert-warning text-center">
      <i class="glyphicon glyphicon-alert"></i> No {{heading}} found.
    </div>
  {% endif %}
{% endmacro %}

{% macro populate_sources() %}
  {% for i in ext_sour %}
    {% if ext_sour[i] != None %}
      <li class="list-group-item">
        {{ i }}:
        {% if source_dict[i] != none %}
          <a href="{{ source_dict[i]|replace("value", ext_sour[i])}}" target="_blank">
            {{ ext_sour[i] }}
          </a>
        {% else %}
          {{ ext_sour[i]}}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro sources(source, value) %}
  {{ value }}
{% endmacro %}


{% extends "template.html" %}

{% block title %}
  {{id_info["Name"]}}
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/view/metabolite.css') }}" rel="stylesheet">
{% endblock %}

{% block page_title %}
  <h1>{{ id_info["Name"] }}</h1>
  {% if g.user.is_authenticated %}
  <div class="btn btn-success pull-right">
    <i class="glyphicon glyphicon-plus"></i> Add to Table
  </div>
  {% endif %}
{% endblock %}

{% block body %}

<div ng-controller="MetaboliteView">
  <div id="metaboliteDiv" class="row" style="display:None;">
    <div class="col-sm-8">
      <h2 class="page-header">Identification Information</h2>
      <table class="table table-striped">
        <tbody>
          <tr><th width="30%">Synonyms:</th>
            <td>{{ list2text(id_info["Synonyms"]) }}</td></tr>
          <tr><th>Systematic Name:</th>
            <td>{{ textcheck(id_info["Systematic Name"]) }}</td>
          </tr>
          <tr><th>IUPAC Name:</th>
            <td>{{ textcheck(id_info["IUPAC Name"])}}</td>
          </tr>
          <tr><th>InChI:</th>
              <td>{{ textcheck(id_info["InChI"])}}</td>
          </tr>
          <tr><th>InChI Key:</th>
            <td>
              {{ id }}
              <a href="https://www.google.co.uk/search?&q={{id}}" target="_blank">
                <span class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-search"></i> Google
              </a>
            </td>
          </tr>
          <tr><th>SMILES:</th>
            <td>{{ textcheck(id_info["SMILES"])}}</td>
          </tr>
          <tr><th>Molecular Formula:</th>
            <td><span id="molecularFormula">{{ id_info["Molecular Formula"]}}</div></span>
              <span id="formulaSearchBtn" class="btn btn-primary btn-sm pull-right"><i class="glyphicon glyphicon-search"></i> Search
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="page-header">Adduct Information</h2>

      <table class="table table-striped">
        <tr><th width="30%">Ionisation:</th>
          <td>
            <label class="checkbox-inline"><input type="radio" name="ionisation" value="Neutral" checked> Neutral</label>
            <label class="checkbox-inline"><input type="radio" name="ionisation" value="Positive"> Positive</label>
            <label class="checkbox-inline"><input type="radio" name="ionisation" value="Negative"> Negative</label>
          </td>
        </tr>
        <tr>
          <th>Adduct:</th>
          <td><select id="adduct_selector"></select>
              <span class="pull-right">
                <input id="rel_i_limiter" type="checkbox" checked> Remove &le; 5% RI
              </span>
          </td>
        </tr>
      </table>

      <div class="isotopic_distribution_chart" style="height:475px;">
        <div id="myChart">
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" href="#dist_table">
          <h4>
            Isotopic Distribution Table
            <i class="glyphicon glyphicon-signal pull-right"></i>
          </h4>
        </div>
        <div id="dist_table" class="panel">
          <div class="panel-body">
            <table class="table table-striped text-center" id="distribution_table" width="100%">
              <thead>
                <tr>
                  <th width="50%">Mass-to-ion (m/z)</th>
                  <th width="50%">Relative Intensity (%)</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <h2 class="page-header">Pathway Information</h2>

      {{ populate_pathways(pathways["KEGG"], "KEGG Pathways") }}
      {{ populate_pathways(pathways["SMPDB"], "SMPDB Pathways") }}
      {{ populate_pathways(pathways["BioCyc"], "BioCyc Pathways") }}

      <h2 class="page-header">Taxonomic Properties</h2>

      {% if ext_sour["HMDB Accession"] != None %}
        <h3>HMDB Properties</h3>
        <table class="table table-striped">
          <tr><th width="30%">Origins:</th>
            <td>{{ list2text(tax_prop["HMDB"]["Origins"]) }}</td>
          </tr>
          <tr><th>Biofluid Locations:</th>
            <td>{{ list2text(tax_prop["HMDB"]["Biofluid Locations"]) }}</td>
          </tr>
          <tr>
            <th>Tissue Locations:</th>
            <td>{{ list2text(tax_prop["HMDB"]["Tissue Locations"]) }}</td>
          </tr>
        </table>
      {% else %}
      <div class="alert alert-warning text-center">
        <i class="glyphicon glyphicon-alert"></i> No taxonomic properties found.
      </div>
      {% endif %}
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>2D Molecular Structure <i class="glyphicon glyphicon-eye-open pull-right"></i></h4>
        </div>
        <div class="panel-body">
          <img id="structure" src="{{ url_for('view.get_structure', inchikey=id)}}" style="display:block; margin:0 auto 0; width:100%;">
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Physicochemical Information</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Molecular Weight: {{ '%0.4f' % phy_prop["Molecular Weight"]|float }} g/mol</li>
          <li class="list-group-item">Hydrogen Bond Acceptors: {{ phy_prop["Hydrogen Bond Acceptors"] }}</li>
          <li class="list-group-item">Hydrogen Bond Donors: {{ phy_prop["Hydrogen Bond Donors"] }}</li>
          <li class="list-group-item">Formal Charge: {{ phy_prop["Formal Charge"] }}</li>
        </ul>
        <div class="panel-footer">
          <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#physiochemical_modal">
              View All Properties
          </button>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Export Metabolite</h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            JCAMP
          </li>
          <li class="list-group-item">
            XML
          </li>
          <li class="list-group-item">
            JSON
          </li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4><span id="spooky">Skeleton</span> Matches</h4></div>
        <ul id="skeleton_list" class="list-group">
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>External Sources <i class="glyphicon glyphicon-link pull-right"></i></h4>
        </div>
        <ul class="list-group" id="external_sources_list">
            {{ populate_sources() }}
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% include "view/modals/physiochemical_modal.html" %}
{% include "view/modals/formula_search_modal.html" %}

{% block javascript %}
<script src="{{ url_for('static', filename='bower_components/plotly.js/dist/plotly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/comment.js') }}"></script>
<script src="{{ url_for('static', filename='js/view/view.js') }}"></script>

{% if g.user.is_authenticated %}
<script src="{{ url_for('static', filename='js/tables/meta/add.js') }}"></script>
{% endif %}

{% endblock %}
