<div class="modal fade" id="formula_search_modal" role="dialog">
    <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Molecular Formula Search</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" width="100%" id="molecularMatchTable">
                  <thead>
                    <tr>
                      <th>Molecular Structure</th>
                      <th>Metabolite Name</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
