<div class="modal fade" id="physiochemical_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Physiochemical Properties</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th width="40%">Molecular Weight:</th>
                            <td>{{phy_prop["Molecular Weight"]}} g/mol</td>
                        </tr>
                        <tr>
                            <th>Hydrogen Bond Donors:</th>
                            <td>{{ phy_prop["Hydrogen Bond Donors"] }}</td>
                        </tr>
                        <tr>
                            <th>Hydrogen Bond Acceptors:</th>
                            <td>{{ phy_prop["Hydrogen Bond Acceptors"] }}</td>

                        </tr>
                        <tr>
                            <th>Rotatable Bonds:</th>
                            <td>{{ phy_prop["Rotatable Bonds"] }}</td>

                        </tr>
                        <tr>
                            <th>Formal Charge:</th>
                            <td>{{ phy_prop["Formal Charge"] }}</td>
                        </tr>
                        <tr>
                            <th>Fraction of SP3 Carbon:</th>
                            <td>{{ phy_prop["Fraction of SP3 Carbon"] }}</td>
                        </tr>
                        <tr>
                            <th>cLogP Value:</th>
                            <td>{{ phy_prop["clogP"] }}</td>
                        </tr>
                        <tr>
                            <th>Polar Surface Area:</th>
                            <td>{{ phy_prop["Polar Surface Area"] }}</td>
                        </tr>
                        <tr>
                            <th>MR Values:</th>
                            <td>{{ phy_prop["MR Values"] }}</td>
                        </tr>
                        <tr>
                            <th>Rings:</th>
                            <td>{{ phy_prop["Rings"] }}</td>
                        </tr>
                        <tr>
                            <th>Aromatic Rings:</th>
                            <td>{{ phy_prop["Aromatic Rings"] }}</td>
                        </tr>
                        <tr>
                            <th>Heavy Atoms:</th>
                            <td>{{ phy_prop["Heavy Atoms"] }}</td>
                        </tr>
                        <tr>
                            <th>Secondary Amines:</th>
                            <td>{{ phy_prop["Secondary Amines"] }}</td>
                        </tr>
                        <tr>
                            <th>Ether Oxygens:</th>
                            <td>{{ phy_prop["Ether Oxygens"] }}</td>
                        </tr>
                        <tr>
                            <th>Hydroxy Groups:</th>
                            <td>{{ phy_prop["Hydroxy Groups"] }}</td>
                        </tr>
                        <tr>
                            <th>Carboxylic Acids:</th>
                            <td>{{ phy_prop["Carboxylic Acids"] }}</td>
                        </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
