{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Login</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">

            {{ display_warnings() }}

        <form method="post" action="{{ url_for('auth.login') }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            {{ render_form_field(form.user_name, label="Username")}}
            {{ render_form_field(form.password, label="Password", type="password")}}

            <div class="form-group row">
                <button id="login-button" class="btn btn-success full-width" type="submit">
                    <i class="glyphicon glyphicon-log-in"></i> Log In
                </button>
            </div>
        </form>

        <div class="form-group row text-center">
            or
        </div>

        <div class="form-group row text-center">
            <div class="form-group item">
                <a href="{{url_for('auth.register')}}">
                    <div class="btn btn-primary full-width">
                        <i class="glyphicon glyphicon-user"></i> Create New Account
                    </div>
                </a>
            </div>
            <div class="form-group item">
                <a href="{{ url_for('auth.resend_confirmation') }}">
                    <div class="btn btn-warning full-width">
                        <i class="glyphicon glyphicon-magnet"></i> Resend Confirmation Email
                    </div>
                </a>
            </div>
            <div class="form-group item">
                <a href="{{ url_for('auth.reset_password_email') }}">
                    <div class="btn btn-danger full-width">
                        <i class="glyphicon glyphicon-question-sign"></i> Forgotten your password?
                    </div>
                </a>
            </div>
        </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>

{% endblock %}