{% extends "template.html" %}

{% block title %}Account Management{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Account Management</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-3">First Name:</div>
                <div class="col-sm-9">{{ g.user.first_name }}</div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile Picture
                </div>
                <div class="panel-body">
                    <img src="{{ g.user.avatar(300) }}", class="img-responsive img-circle">
                    <p class="text-center">Provided by <a href="http://en.gravatar.com/" target="_blank">Gravatar</a></p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}