{% extends "template.html" %}


{% block title %}Register{% endblock %}


{% block head %}
    <link href="{{ url_for('static', filename='bower_components/country-select-js/build/css/countrySelect.min.css') }}"
          rel="stylesheet">
{% endblock %}

{% block page_title %}
    <h1>Registration Page</h1>
{% endblock %}

{% block body %}

    {{ display_warnings() }}

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger"><i class="glyphicon glyphicon-alert"></i>
                            <b>Error:</b> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('auth.register') }}" accept-charset="UTF-8" role="form">
                {{ form.csrf_token }}

                <h3>Personal Information</h3>

                {{ render_form_field(form.first_name, label='First Name', required=True) }}
                {{ render_form_field(form.mid_initials, label='Middle Initials') }}
                {{ render_form_field(form.last_name, label='Last Name', required=True) }}
                {{ render_form_field(form.email_address, label='Email Address', required=True) }}

                {{ render_form_field(form.affiliation, label='Affiliation') }}
                {{ render_form_field(form.address, label='Address') }}

                {{ render_form_field(form.phone, label='Phone Number') }}

                {{ render_form_field(form.country, type="country", label='Country') }}

                <h3>Account Information</h3>

                {{ render_form_field(form.user_name, label='Username', required=True) }}
                {{ render_form_field(form.password, label='Password', type="password", required=True) }}
                {{ render_form_field(form.password_confirm, label='Re-enter password', type="password", required=True) }}



                <div class="form-group row">
                    <button id="register-button" class="btn btn-success full-width" type="submit">Create Account
                    </button>
                </div>
            </form>
        </div>
            <div class="col-sm-1"></div>

    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/country-select-js/build/js/countrySelect.min.js') }}"></script>
    <script>
        $("#country_selector").countrySelect({
            defaultCountry : "gb"
        })
    </script>
{% endblock %}