    <div class="modal fade" id="distribution_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="dtable_header" class="modal-title">Isotopic Distribution Table </h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="distribution_table">
                    <thead>
                    <tr>
                        <th>Mass (m/z)</th>
                        <th>Intensity (%)</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="smiles_view" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View SMILES</h4>
            </div>
            <div class="modal-body">
                <pre class="smiles" id="smiles">
               </pre>
            </div>
        </div>
    </div>
</div>