{% extends "template.html" %}

{% block title %}Mass Search{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
      <div class="container">
          <h1>Mass Search</h1>
        </div>
      </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Search Filters <i class="glyphicon glyphicon-search pull-right"></i>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="masses">Precusor Masses (m/z): </label>
                        <input id="masses" type="text" value="176.03,209.32,496.47,652.60,780.84,956.3,1120.47" data-role="tagsinput"/>
                        <p class="small pull-right"> <i class="glyphicon glyphicon-exclamation-sign"></i> Seperate masses using ","</p>
                    </div>
                    <div class="form-group">
                        <label for="tolerance">Tolerance:</label>
                        <div class="form-group">
                            <select id="search_tolerance" class="for" >
                                <option value="1">(&#177;) 1.0 m/z</option>
                                <option value="0.5" selected="selected">(&#177;) 0.5 m/z</option>
                                <option value="0.2">(&#177;) 0.2 m/z</option>
                                <option value="0.1">(&#177;) 0.1 m/z</option>
                                <option value="0.05">(&#177;) 0.05 m/z</option>
                                <option value="0.01">(&#177;) 0.01 m/z</option>
                                <option value="0.005">(&#177;) 0.005 m/z</option>
                                <option value="0.001">(&#177;) 0.001 m/z</option>
                                <option value="0.0005">(&#177;) 0.0005 m/z</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ionisation">Ionisation: </label>
                                <div id="ionisation" class="radio">
                                        <label><input type="radio" name="ionisation" value="Neutral" checked>Neutral</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="ionisation" value="Positive">Positive (+)</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="ionisation" value="Negative">Negative (-)</label>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="ionisation">Ion Type: </label>
                            <select multiple class="form-control" id="ionisation_adducts">
                                <option selected>[M]</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div id="search_button" class="btn btn-primary pull-right">
                        <i class="glyphicon glyphicon-search"></i> Search
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div id="search_results" class="col-sm-8">

        </div>

    </div>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search/mass.js') }}"></script>
{% endblock %}