<div class="modal fade" id="molecular_properties" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Physiochemical Properties</h4>
            </div>
            <div class="modal-body">
               <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th width="50%">
                                Hydrogen Bond Donors:
                            </th>
                            <td>
                                <div id="hbd"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hydrogen Bond Acceptors:
                            </th>
                            <td>
                                <div id="hba"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rotatable Bonds:
                            </th>
                            <td>
                                <div id="rotbonds"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Formal Charge:
                            </th>
                            <td>
                                <div id="formalcharge"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Fraction of SP3 Carbon:
                            </th>
                            <td>
                                <div id="fractionofsp3"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                logP Value:
                            </th>
                            <td>
                                <div id="logp"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Polar Surface Area:
                            </th>
                            <td>
                                <div id="polarsurfacearea"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                MR Values:
                            </th>
                            <td>
                                <div id="mrvalues"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rings:
                            </th>
                            <td>
                                <div id="rings"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Aromatic Rings:
                            </th>
                            <td>
                                <div id="aromaticrings"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Heavy Atoms:
                            </th>
                            <td>
                                <div id="heavyatoms"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Secondary Amines:
                            </th>
                            <td>
                                <div id="secondaryamines"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Ether Oxygens:
                            </th>
                            <td>
                                <div id="etheroxygens"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hydroxy Groups:
                            </th>
                            <td>
                                <div id="hydrogroups"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Carboxylic Acids:
                            </th>
                            <td>
                                <div id="carbacids"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>