<div class="modal fade" id="view_pathway" role="dialog">
    <div class="modal-dialog modal-view_pathway">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">KEGG Pathway Viewer: <span id="pv_name"></span></h4>
            </div>
            <div class="modal-body">
                <iframe id="pathway_iframe" style="zoom:0.40" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>