@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html {
    position: relative;
    min-height: 100%;

}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 70px;
}

h1, h2, h3, h4, h5, h6 {

}

.container {
    marigin: auto 0 auto;
    width: 95%;
    max-width:1400px;

}

.marketing {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.container .text-muted {
    margin: 20px 0;
}

.footer .text-muted {
    color:#fff;
}

.footer a {
    color:#fff;
}

.footer {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #2e6da4;
    color:#fff;
}

.navbar-inverse {
    background-image: none;
    background-color: #2e6da4;
    border-color: transparent;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .active {
    background-color: #FC0;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 8px;
    width: auto;
}

.jumbotron {
    background-color: #2e6da4;
    color:#fff;
}

#homepage_jumbotron {

}

#homepage_jumbotron img {
    width:100%;
    max-width: 600px;
}

#homepage_jumbotron .btn {
    width:100%;
    padding-top:10px;
    margin-top:10px;
}

#title_jumbotron {
    max-height: 250px;
    padding:10px;
    margin-bottom: -10px;
}

#metabolite_view {
    display:none;
}

#hp_ionisation_selector {
    padding-top:10px;
}

#search_settings {
    padding-top:10px;
    display: none;
}

#ionisation_divider {
    display:none;
}

table#search_results {
    width:80%;
    margin: 0 auto 0;
}

.btn-space {
    margin-right: 5px;
}

.view_button {
    width:5%;
}

#advanced_search_results {
    display: none;
}

th.dt-center, td.dt-center { text-align: center; }

#home-page-welcome-search {
        max-width: 600px;
        margin:0 auto 0;
        margin-top: 100px;
        padding-bottom: 10px;
    }

    #home-page-welcome-search img {
        display: block;
        margin: 0 auto 0;
        width: 600px;
        margin-bottom: 30px;
    }

#home-page-search-results {
    padding-top:10px;
    display: none;
}


#home-page-search-results img {
    width:100%;
    max-width: 150px;

}

#advanced-search-container {
    width: 90%;
    margin: 0 auto 0;
}

#advanced-search-container .row {
    padding:10px;
}

.modal-view_pathway {
    /* new custom width */
    width: 90%;
    height:90vh;
}

#modal_distribution_chart {
    width:100%;
}

#metabolite_clipboard_panel {
    position:fixed;
    right:0;
    top: 3em;
    z-index: 999;
    margin:3em;
    width:17.5%;
    min-width: 250px;

}
.bootstrap-tagsinput {
    width: 100%;
}

.label {
    line-height: 2 !important;
}

.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
}

.modal-lg {
    height:100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#loading_divider {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#isotopic_distribution_chart {
    display:inline-block;
}