<div id="metabolite_clipboard_panel" class="panel panel-info">
  <div class="panel-heading">
      <i class="glyphicon glyphicon-paperclip"></i> Metabolite Clipboard (<span id="clipboard_count"></span>)<a data-toggle="collapse" href="#clipboard_collapse">
      <i class="glyphicon glyphicon-circle-arrow-down pull-right"></i></a>
  </div>
  <div id="clipboard_collapse" class="panel-collapse collapse">
        <ul id="clipboard_list_group" class="list-group" style="max-height:300px;overflow-y: scroll;">
        </ul>
        <div class="panel-footer">
            <div class="btn-toolbar pull-right">
                <button id="clear_clipboard" class="btn btn-danger btn-sm">
                    <i class="glyphicon glyphicon-trash"></i> Clear
                </button>
                <button id="clipboard_to_kegg" class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i> Map
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
</div>

<div class="modal fade" id="view_mapped_pathway" role="dialog">
    <div class="modal-dialog modal-view_pathway">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">KEGG Pathway Mapper</h4>
            </div>
            <div class="modal-body">
                <div id="pathway_mapper_h_buttons" class="btn-toolbar">

                </div>
                <iframe id="mapped_pathway_iframe" style="zoom:0.40" width="99.6%" height="800px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>