{% extends "template.html" %}

{% block title %}Administration Panel{% endblock %}

{% block page_title %}
    <h1>Administrator Panel</h1>

    <p>Don't do anything stupid.</p>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <a href="{{ url_for('admin.users') }}">
                <h1>Users ({{ user_count }})</h1>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ url_for('admin.tables') }}">
                <h1>Tables ({{ table_count }})</h1>
            </a>
        </div>
        <div class="col-sm-4">
            <h1>Metabolites ({{ metabolite_count }})</h1>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}