{% extends "template.html" %}

{% block head %}
API
{% endblock %}

{% block body %}
    <h1>MBDB API</h1>

    <p>This is is a brief specification outline for the REST-style MBDB API.</p>

    <h3>Metabolites</h3>

    <p>Return all metabolites whose name contains "Ganglioside"</p>

    <pre>{{ url }}metabolites/?name__contains=Ganglioside</pre>

    <p>Return all metabolites of which are found in Food</p>

    <pre>{{ url }}metabolites/?origins__contains=Food</pre>

    <p>Return all metabolites that contain "Gangli" and are found in Food</p>

    <pre>{{ url }}metabolites/?origins__contains=Food&name__contains=Gangli</pre>

    <p>Return all metabolites whose accurate weight is within a 20ppm (parts per million) range of 420.69m/z</p>

    <pre>{{ url }}metabolites/?accurate_mass__ppm=420.69,20</pre>


    <h3>Putative Ionisation Search</h3>

    <p>Return all metabolites that can be negatively charged</p>

    <pre>{{ url }}adducts/?adduct_weights__ion=negative</pre>

    <p>Return all neutrally charged metabolites that fall within a 10ppm range of 130m/z</p>

    <pre>{{ url }}adducts/?adduct_weights__neutral__ppm=130,10</pre>

    <p>Return all negatively charged metabolites that can potentially be putatively ionised within a 20ppm range of 140/mz.</p>

    <pre>{{ url }}adducts/?adduct_weights__negative__ppm=140,20</pre>

    <h3>Integration with Python</h3>

    An example Python script to obtain all metabolites containing "Gangli" in their name, and appending the results to a list.
    <pre class="prettyprint">
import urllib2, json

example_list = []

base_url = "{{ url }}metabolites/?name__contains=Gangli"

count = 1000
return_limit = 10

for skip in range(0, count, return_limit):
    data_url = base_url + "&_limit="+str(return_limit)+"&_skip="+str(skip)
    data = json.loads(urllib2.urlopen(data_url).read())
    for metabolite in data["data"]:
        example_list.append([metabolite["name"], metabolite["accurate_mass"]])
    if data["has_more"] == False:
        break
    </pre>

{% endblock %}

{% block javascript %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}