{% extends "template.html" %}

{% block head %}
API
{% endblock %}

{% block body %}
    <h1>MB-DB API</h1>

    <p>This is is a brief specification outline for the REST-style MB-DB API.</p>

    <h3>Metabolites</h3>

    <h4>Examples</h4>

    <p>Return all metabolites whose name contains "Ganglioside"</p>

    <pre>{{ url }}metabolites/?name__contains=Ganglioside</pre>

    <p>Return all metabolites of which are found in Food</p>

    <pre>{{ url }}metabolites/?origins__contains=Food</pre>

    <p>Return all metabolites that contain "Gangli" and are found in Food</p>

    <pre>{{ url }}metabolites/?origins__contains=Food&name__contains=Gangli</pre>

    <p>Return all metabolites whose accurate weight is within a 20ppm (parts per million) range of 420.69m/z</p>

    <pre>{{ url }}metabolites/?accurate_mass__ppm=420.69,20</pre>


    <h3>Putative Ionisation</h3>

    <h3>Integration with Python</h3>

{% endblock %}