{% extends "template.html" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>MBDB API</h1>

    <p>This is is a brief specification outline for the REST-style MBDB API.</p>

    <h3>Metabolites</h3>

    <p>Return all metabolites whose name contains "Ganglioside"</p>

    <pre>{{ url }}metabolites/?name__contains=Ganglioside</pre>

    <p>Return all metabolites of which are found in Food</p>

    <pre>{{ url }}metabolites/?origins__contains=Food</pre>

    <p>Return all metabolites that contain "Gangli" and are found in Food</p>

    <pre>{{ url }}metabolites/?origins__contains=Food&name__contains=Gangli</pre>


    <h3>Putative Ionisation Search</h3>


    <p>Return all neutrally charged metabolites (accurate m/z) that fall within a 10ppm range of 130m/z</p>

    <pre>{{ url }}adducts/?adducts__pi_ppm=neutral,130,10</pre>

    <p>Return all negatively charged metabolites that can potentially be putatively ionised within a 20ppm range of 140/mz.</p>

    <pre>{{ url }}adducts/?adducts__pi_ppm=negative,140,20</pre>

{% endblock %}

{% block javascript %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}