{% extends "template.html" %}

{% block head %}
Home
{% endblock %}

{% block body %}

<div class="row">
    <div id="home-page-search">
        <img src="{{ url_for('static', filename='imgs/logo.svg')}}">
                <p>This is a freely-accessible service that uses information available elsewhere. However, we request our visitors to
    use the service with parsimony. Heavy trafficking or downloading could result in access from a particular IP address
    or domain being denied. We cannot guarantee that the service is error/bug free and we welcome your feedback.
    We are not held responsible for any misuse of the information provided.</p>
        <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search"/>
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>


{% endblock %}