{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='bower_components/bootstrap-toggle/css/bootstrap-toggle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div id="home-page-search">
        <img src="{{ url_for('static', filename='imgs/logo.svg')}}">

                <div class="alert alert-danger"><strong><span class="glyphicon glyphicon-warning-sign"></span>
                    Warning!</strong> This service is currently in early alpha stages, and thus we cannot guarentee
                    that it is completely error/bug free. Please report
                    any errors/bugs you may encounter to <a href="mailto:keo7@aber.ac.uk">keo7@aber.ac.uk</a>.</div>

        <div class="input-group">
            <input type="text" class="search-query form-control" id="search_text"/>
            <span class="input-group-btn">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span id="s_selector_button">Name</span> <span class="caret"></span></button>
                <ul id="s_selector" class="dropdown-menu" area-labelledby="search_selector">
                    <li><a>Name</a></li>
                    <li><a>Accurate Mass</a></li>
                    <li><a>Adduct</a></li>
                </ul>
                <button class="btn btn-danger" type="button" id="search_button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
        </span>
        </div>

        <div id="search_settings" class="row">
            <div id="tolerance" class="col-md-2">
                <label for="ppm_tolerance">Tolerance</label>
                <div class="input-group">
                    <input id="ppm_tolerance" type="number" class="form-control input-sm" min="1" max="20" value="5" aria-describedby="value">
                    <span class="input-group-addon" id="value">PPM</span>
                </div>
            </div>
            <div id class="col-md-8">
            </div>
            <div class="col-md-2">
                <div id="ionisation_divider">
                    <label for="ionisation">Ionisation</label>
                    <div class="input-group">
                        <input type="checkbox" id="ionisation" checked data-toggle="toggle" data-on="+"
                               data-off="-" data-onstyle="success" data-offstyle="danger" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table id="search_results" class="table table-striped table-responsive display" width="100%">
        <thead>
        <tr>
        </tr>
        </thead>
</table>


{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='bower_components/bootstrap-toggle/js/bootstrap-toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/home_search.js') }}"></script>

{% endblock %}