{% extends "template.html" %}

{% block head %}
Metabolites
{% endblock %}

{% block body %}

<h1>Metabolites</h1>

<table id="metabolites" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Molecular Formula</th>
                <th>Accurate Mass</th>
            </tr>
        </thead>
    </table>


{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/metabolites.js') }}"></script>
{% endblock %}