{% extends "template.html" %}

{% block head %}Loading{% endblock %}

{% block body %}

<div id="metabolite_view">
<h1><span id="met_name"></span>
    <a id="get_json" href=""><label class="btn btn-primary btn-sm pull-right"><i class='glyphicon glyphicon-download'></i> Download JSON</label></a>
</h1>

<div class="row">
    <div class="col-md-9">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th width="25%">Molecular Formula</th>
                <td>
                    <span id="molecular_formula"></span>
                    <a id="molecular_formula_search" href="" target="_blank"><button class="btn btn-success btn-sm pull-right">
                        <i class="glyphicon glyphicon-search"></i> Query API
                    </button></a>
                </td>
            </tr>
            <tr>
                <th>Accurate Mass (m/z)</th>
                <td id="accurate_mass">
                </td>
            </tr>
            <tr>
                <th>Neutral Mass (m/z)</th>
                <td id="neutral_mass"></td>
            </tr>
            <tr>
                <th>Origins</th>
                <td id="origins">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                2D Structure
            </div>
            <div class="panel-body">
                <img id="structure" src="" style="display:block; margin:0 auto 0; max-width:300px; width:80%;">
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm pull-right" data-toggle="modal" data-target="#smiles_view">
                    View SMILES
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Neutral Isotopic Distribution</h2>
        <div id="distribution_chart" style="width:90%;height:400px;"></div>
        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#distribution_modal">
            <i class="glyphicon glyphicon glyphicon-stats"></i> Distribution Table
        </button>
    </div>
    <div class="col-md-3">
        <h2>Adducts</h2>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Positive
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Negative
                </div>
                <div class="list-group" id="negative_adduct">
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% include "modals/view.html" %}

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='bower_components/plotly/plotly.js') }}"></script>
<script src="{{ url_for('static', filename='js/view.js') }}"></script>
<script>
    render_view("{{ base_url }}", "{{ id }}");
    $("#metabolite_view").fadeIn("slow");
</script>
{% endblock %}
