{% macro render_edit_field(field, label, type, content) %}
    {% set css_class='form-control ' + kwargs.pop('class', '') %}
    <div class="form-group row">
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-alert"> <b>Error:</b> {{ error }}</i>
            </div>
        {% endfor %}

        <div class="col-sm-2">
            <label>{{ label }}:</label>
        </div>
        <div class="col-sm-10">

            {% if type == "string" %}
                <input type="string" class="form-control" name="{{ field.name }}" value="{{ content }}">
            {% elif type == "text" %}
                <textarea class="form-control" name="{{ field.name }}">{{ content }}</textarea>
            {% endif %}

        </div>

    </div>
{% endmacro %}

{% extends "template.html" %}

{% block title %}Edit Table (DdbT:{{ metabolite_table.id }}){% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Edit Table (DdbT:{{ metabolite_table.id }})</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ display_warnings() }}

    <h2>Edit Details</h2>

    <form method="post" action="{{ url_for('edit_table', id=metabolite_table.id) }}" accept-charset="utf-8"
          role="form">
        {{ form.csrf_token }}
        {{ render_edit_field(form.title, label="Title", type="string", content=metabolite_table.title) }}
        {{ render_edit_field(form.description, label="Description", type="text", content=metabolite_table.description) }}
        {{ render_edit_field(form.species, label="Species", type="string", content=metabolite_table.species) }}
        {{ render_edit_field(form.doi, label="DOI", type="string", content=metabolite_table.doi) }}

        <div class="form-group row">
            <button class="btn btn-success pull-right" type="submit">Submit Changes</button>
        </div>
    </form>

    <h2>Edit Table</h2>

{% endblock %}

{% block javascript %}
{% endblock %}