{% macro render_edit_field(field, label, type, content) %}
    {% set css_class='form-control ' + kwargs.pop('class', '') %}
    <div class="form-group row">
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-alert"> <b>Error:</b> {{ error }}</i>
            </div>
        {% endfor %}

        <div class="col-sm-2">
            <label>{{ label }}:</label>
        </div>
        <div class="col-sm-10">

            {% if type == "string" %}
                <input type="string" class="form-control" name="{{ field.name }}" value="{{ content }}">
            {% elif type == "text" %}
                <textarea class="form-control" name="{{ field.name }}">{{ content }}</textarea>
            {% endif %}

        </div>

    </div>
{% endmacro %}

{% extends "template.html" %}

{% block title %}Edit Table{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Edit Table</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ display_warnings() }}

    <h2>Edit Details</h2>


    <form method="post" action="{{ url_for('tables.edit_table', id=metabolite_table.id) }}" accept-charset="utf-8"
          role="form">
        {{ form.csrf_token }}
        {{ render_edit_field(form.title, label="Title", type="string", content=metabolite_table.title) }}
        {{ render_edit_field(form.description, label="Description", type="text", content=metabolite_table.description) }}
        {{ render_edit_field(form.species, label="Species", type="string", content=metabolite_table.species) }}

        <div class="form-group row">
            <button class="btn btn-success pull-right" type="submit">Submit Changes</button>
        </div>
    </form>

    <h2>Add/Remove Publications</h2>

        <ul class="list-group">
            {% for publication in publications %}
                <li class="list-group-item">
                    <h4>{{ publication.publication_title }}</h4>
                    <p>{{ publication.author_list }}</p>
                    {% if publication.doi != None %}
                        <p>DOI: <a href="{{ publication.doi }}" target="_blank">{{ publication.doi }}</a></p>
                    {% endif %}
                    {% if publication.pubmed_id != None %}
                        <p>Pubmed: <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pubmed_id }}" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pubmed_id }}</a></p>
                    {% endif %}

                <a href="{{ url_for('tables.remove_publication', id=metabolite_table.id, pub_id=publication.id) }}">
                <div class="btn btn-danger pull-right">
                    Remove Publication
                </div>
                    </a>
                <div class="clearfix"></div>
                </li>
            {% endfor %}
        </ul>

        <div class="form-group row">
            <a href="{{ url_for('tables.add_publication', id=metabolite_table.id) }}">
                <div class="btn btn-success pull-right">Add Publication</div>
            </a>
        </div>

    <h2>Edit Metabolite Table</h2>

    <table id="metabolite_table" class="table table-striped">

    </table>

    <div id="delete_table_button" class="btn btn-danger pull-right">Delete Table</div>


    <div class="modal fade" id="delete_modal" role="dialog">
    <div class="modal-dialog model-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Table</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <i class="glyphicon glyphicon-exclamation-sign"></i> Terrible things will happen if you don't read this!
                </div>
                <p>Deletions <b>CANNOT</b> be undone. This will <b>PERMANTLEY REMOVE</b> the table.</p>

                <a href="{{ url_for('tables.delete_table', id=metabolite_table.id) }}">
                    <div class="btn btn-danger full-width">
                        I know what I am doing, remove this table
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/edit.js') }}"></script>

    <script>
        var id = {{ metabolite_table.id }};
        generate_table(id);

    </script>
{% endblock %}