{% extends "template.html" %}

{% block title %}DIMEdb Tables{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>DIMEdb Tables</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    {{ display_warnings() }}

    <table id="public_tables" class="table table-striped">
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th>Species</th>
            <th>Author</th>
            <th width="15%">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for t in public_tables %}
            <tr>
                <td><a href="{{ url_for('view_table', id=t.id) }}">{{ t.title }}</a></td>
                <td>{{ t.species }}</td>
                <td>{{ t.first_name }} {{ t.last_name }}</td>
                <td>{{ t.creation_date.strftime('%d-%m-%Y')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if g.user.is_authenticated %}
        <div class="form-inline">
            <a href="{{ url_for('create_table') }}">
                <div class="btn btn-default pull-right">Create Table</div>
            </a>
        </div>

    {% endif %}


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/index.js') }}"></script>
{% endblock %}