{% extends "template.html" %}

{% block title %}Public Tables{% endblock %}

{% block page_title %}
    <h1>Public Tables</h1>
{% endblock %}

{% block body %}

    {{ display_warnings() }}

    <table id="public_tables" class="table table-striped">
        <thead>
        <tr>
            <th width="50%">Title</th>
            <th>Species</th>
            <th>Author</th>
            <th width="15%">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for t in tables %}
            <tr>
                <td><a href="{{ url_for('tables.view_table', id=t.id) }}">{{ t.title }}</a></td>
                <td>{{ t.species }}</td>
                <td>{{ t.first_name }} {{ t.last_name }}</td>
                <td>{{ t.creation_date.strftime('%d-%m-%Y')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/index.js') }}"></script>
{% endblock %}