{% extends "template.html" %}

{% block title %}My Tables{% endblock %}

{% block page_title %}
    <h1>MyTables</h1>
{% endblock %}}

{% block body %}

    {{ display_warnings() }}

    <table id="my_tables" class="table table-striped">
        <thead>
        <tr>
            <th width="50%">Title</th>
            <th>Species</th>
            <th>Public?</th>
            <th width="15%">Creation Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for t in mytables %}
            <tr>
                <td><a href="{{ url_for('tables.view_table', id=t.id) }}">{{ t.title }}</a></td>
                <td>{{ t.species }}</td>
                <td>
                    {% if t.public == True %}
                        <i class="glyphicon glyphicon-check"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-unchecked"></i>
                    {% endif %}
                </td>
                <td>{{ t.creation_date.strftime('%d-%m-%Y')}}</td>
                <td>
                    <a href="{{ url_for('tables.edit_table', id=t.id) }}">
                        <div class="btn btn-warning btn-sm">
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/mytables.js') }}"></script>
{% endblock %}