{% extends "template.html" %}

{% block title %}Public Tables{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>My Tables</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    {{ display_warnings() }}

    <table id="my_tables" class="table table-striped">
        <thead>
        <tr>
            <th width="40%">Title</th>
            <th>Species</th>
            <th>DOI</th>
            <th>Public?</th>
            <th width="15%">Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for t in mytables %}
            <tr>
                <td><a href="{{ url_for('view_table', id=t.id) }}">{{ t.title }}</a></td>
                <td>{{ t.species }}</td>
                <td>
                    {% if t.doi != "" %}
                        <i class="glyphicon glyphicon-check"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-unchecked"></i>
                    {% endif %}
                </td>
                <td>
                    {% if t.public == True %}
                        <i class="glyphicon glyphicon-check"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-unchecked"></i>
                    {% endif %}
                </td>
                <td>{{ t.creation_date.strftime('%d-%m-%Y')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/mytables.js') }}"></script>
{% endblock %}