{% extends "template.html" %}

{% block title %}Create Table : DIMEdb Tables{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Create Table</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form method="post" action="{{ url_for('create_table') }}" accept-charset="UTF-8" role="form">

                <h2>Table Information</h2>

                {{ form.csrf_token }}

                {{ render_form_field(form.title, label="Title") }}
                {{ render_form_field(form.description, label="Description", type="text") }}

                {{ render_form_field(form.species, label="Species") }}
                {{ render_form_field(form.public, type="checkbox", label="Public") }}

                <button id="create-button" class="btn btn-success full-width" type="submit">Create Table
                </button>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>

</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/create.js') }}"></script>
{% endblock %}