{% extends "template.html" %}

{% block title %}DdbT{{ table_info.id }}: {{ table_info.title }}{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h2>DdbT{{ table_info.id }}: {{ table_info.title }}</h2>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-7">
            <p><i class="glyphicon glyphicon-user"></i> <b>Submitted by:</b> {{ table_info.first_name }} {{ table_info.last_name }}</p>
            {% if table_info.doi != None %}
                <p><i class="glyphicon glyphicon-link"></i> <b>DOI:</b> <a href="{{ table_info.doi }}" target="_blank">{{ table_info.doi }}</a></p>
            {% endif %}
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <p><i class="glyphicon glyphicon-calendar"></i> <b>Submitted on:</b> {{ table_info.creation_date.strftime('%d-%m-%Y') }}</p>
        </div>
    </div>


    <h2>Description</h2>
    {% if table_info.description != None %}
        <p>{{ table_info.description }}</p>
    {% else %}
        <p>No description available.</p>
    {% endif %}


    <h2>Metabolite Table</h2>
    <table id="metabolite_table" class="table table-striped">

    </table>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/tables/view.js') }}"></script>
    <script>
        generate_table("{{ table_info.id }}")

    </script>
{% endblock %}