{% extends "template.html" %}

{% block title %}Help{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='bower_components/prismjs/themes/prism.css') }}" rel="stylesheet">
    <meta name="description" content="This page contains information about how to interact with DIMEdb’s web application and web service." />
{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Help Centre</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    <p>This page contains information about how to interact with DIMEdb’s web application and web service.</p>

    <a id="faq"><h1 class="page-header">Frequently Asked Questions</h1></a>
    <h2>What databases does DIMEdb use to collate its data from?</h2>

    <p><a href="http://www.hmdb.ca/" target="_blank">HMDB</a>,
        <a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank">PubChem</a>,
        <a href="https://www.ebi.ac.uk/chebi/" target="_blank">CHEBI</a>,
        <a href="https://websvc.biocyc.org" target="_blank">BioCyc</a> and
        <a href="http://www.genome.jp/kegg/" target="_blank">KEGG</a>.</p>

    <h2>Where can I download DIMEdb?</h2>

    <p>Visit the <a href="{{ url_for('downloads_centre') }}">download centre</a> for more information.</p>

    <h2>Who works on DIMEdb?</h2>

    <ul>
        <li>Keiron O'Shea (Aberystwyth University)</li>
        <li>Nigel NW Hardy (Aberystwyth University)</li>
        <li>Chuan Lu (Aberystwyth University)</li>
        <li>Luis AJ Mur (Aberystwyth University)</li>
    </ul>

    <h2>How can I cite DIMEdb?</h2>

    <p class="well">Publication pending...</p>

    <h2>How are isotopic distributions calcuated?</h2>

    <p>Distributions are calculated using the open-source pyIDICk python package, <a href="{{ url_for('downloads_centre') }}">available here</a>.</p>

    <h2>Can I use the web service for my own tools?</h2>

    <p>Absolutely! Feel free to take a look at our example Python package <a href="{{ url_for('downloads_centre') }}">dimedbpy</a> for a
    working example of how best to use the web service.</p>

    <a id="api"><h1 class="page-header">DIMEdb Web Service/API</h1></a>

    <p>DIMEdb features a application programming interface (API) which enables users to extract information from the
        integrated metabolite database freely. The API is built with ease-of-use in mind, providing access to relevant
        metabolite information without the need of downloading the entirety of the database.</p>

    <p>The metabolites collection is available as a RESTful persistent identifier, found here:</p>

    <pre class="language-bash"><code class="language-bash">{{ url }}api/metabolites</code></pre>

    <p>Querying the above URL will return a payload similar to this:</p>

    <pre class="language-javascript"><code class="language-javascript">
{
  "_items": [
    {
      "_updated": "Thu, 01 Jan 1970 00:00:00 GMT",
      "Adducts": {
	...
      },
      "External Sources": {
        ...
      },
      "Physicochemical Properties": {

        ...
      },
      "Taxonomic Properties": {
        ...
      },
      "Pathways": {
        ...
      },
      "_created": "Thu, 01 Jan 1970 00:00:00 GMT",
      "_id": "DOUMFZQKYFQNTF-WUTVXBCWSA-N",
      "_etag": "f150abf5bb4cea99aed46186e25642ea8ca5006d",
      "Identification Information": {
        ...
      }
    }
  ],
  "_meta": {
    "max_results": 50,
    "total": 1,
    "page": 1
  }
}
    </code></pre>

    <div class="alert alert-danger">Note: The <code>_items</code> list contains the requested metabolite information.
        For queries
        that return a large number of results, pagination information can be found inside the <code>_meta</code> field.
    </div>

    <h3>Basic Filtering</h3>

    <p>To return filtered metabolites, you can use both native MongoDB queries, and standard Python conditional
        expressions.
        For example, here we are requesting for all metabolites whose molecular formula is C12H22O11:</p>

    <pre class="language-bash"><code class="language-bash">{{ url }}api/metabolites?where={"Identification Information.Molecular Formula" : “C12H22O11”}</code></pre>

    <p>Additionally, both query methods allow for logical and/or operators:</p>

    <pre class="language-bash"><code class="language-bash">{{ url }}api/metabolites?where={“$or” : [{“Identification Information.Molecular Formula : “C12H22O11”}, {“Physicochemical Properties.Hydrogen Bond Acceptors” : 2}]}</code></pre>

    <h3>Conditional Operators</h3>

    <p>For more advanced searching, you can also use conditional operators. For example,
        if you wanted to return all metabolites with a molecular weight &ge; 360.05 and
        &le; 380.05 g/mol, then you can use the following query.:</p>

    <pre class="language-bash"><code class="language-bash">{{ url }}api/metabolites?where={"Physicochemical Properties.Molecular Weight" : {"$gte" : 360.05, "$lte" : 380.05}}</code></pre>

    <h3>Projections</h3>

    <p>If you would like to create a dynamic view of all returned metabolites, DIMEdb supports the use of a projection.
        Projections act like conditional queries, where the request dictates what fields should be returned for a given
        query. For example if you’re only interested in returning the names of matching metabolites, then you can use
        the following query:</p>

    <pre class="language-bash"><code class="language-bash">{{ url }}api/metabolites?where={"Identification Information.Molecular Formula" : “C12H22O11”}&projection={“Identification Information.Name” : 1}</code></pre>


    <h2>Data Documentation</h2>

    <table class="table table-striped">
        <tr>
            <th width="20%">Property Name</th>
            <th width="45%">Property Description</th>
            <th>Data Type</th>
            <th width="25%">Data Source</th>
        </tr>
        <tr>
            <td>_id</td>
            <td>Compiled InChIKey</td>
            <td>String</td>
            <td>Generated from InChI</td>
        </tr>
        <tr>
            <td colspan="4">
                <span class="text_bold">Identification Information</span>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Common name</td>
            <td>String</td>
            <td>PubChem, HMDB, and CheBI</td>
        </tr>
        <tr>
            <td>Synonyms</td>
            <td>Alternative names</td>
            <td>List</td>
            <td>PubChem, HMDB, and CheBI</td>
        </tr>
        <tr>
            <td>IUPAC Name</td>
            <td>Standard chemical name</td>
            <td>String</td>
            <td>PubChem, HMDB, and CheBI</td>
        </tr>
        <tr>
            <td>Systematic Name</td>
            <td>Systematically generated name</td>
            <td>String</td>
            <td>Generated from InChI</td>
        </tr>
        <tr>
            <td>SMILES</td>
            <td>Isometric SMILES</td>
            <td>String</td>
            <td>Generated from InChI</td>
        </tr>
        <tr>
            <td>Molecular Formula</td>
            <td>Textual description of elemental composition</td>
            <td>String</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>InChI</td>
            <td>Unique InChI identifier</td>
            <td>String</td>
            <td>PubChem, HMDB, and CheBI</td>
        </tr>
        <tr>
            <td colspan="4">
                <span class="text_bold">Physicochemical Properties (calculated by rdKit)</span>
            </td>
        </tr>
        <tr>
            <td>clogP</td>
            <td>The logarithm of a compound's partition coefficient between n-octanol and water log (coctanol/cwater)</td>
            <td>Float</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Polar Surface Area</td>
            <td>The polar surface area (PSA) of a molecule is defined as the surface sum over all polar atoms, primarily oxygen and nitrogen, also including their attached hydrogens.</td>
            <td>Float</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Secondary Amines</td>
            <td>A secondary (2º) amine is an amine that has the following general structural formula. R1, R2 = alkyl and/or aryl.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Ether Oxygens</td>
            <td>Ethers are a class of organic compounds that contain an ether group—an oxygen atom connected to two alkyl or aryl groups.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Hydroxy Groups</td>
            <td>A hydroxy or hydroxyl group is the entity with the formula OH. It contains oxygen bonded to hydrogen.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Heavy Atoms</td>
            <td>The number of heavy atoms in the compound (those that have many electrons).</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Rings</td>
            <td>A cyclic compound (ring compound) is a term for a compound in the field of chemistry in which one or more series of atoms in the compound is connected to form a ring.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Hydrogen Bond Acceptors</td>
            <td>The hydrogen acceptor is the neighboring electronegative ion or molecule, and must posses a lone electron pair in order to form a hydrogen bond.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Hydrogen Bond Donors</td>
            <td>The donor in a hydrogen bond is the atom to which the hydrogen atom participating in the hydrogen bond is covalently bonded, and is usually a strongly electronegative atom such as N,O, or F.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Aromatic Rings</td>
            <td>Simple aromatic rings, also known as simple arenes or simple aromatics, are aromatic organic compounds that consist only of a conjugated planar ring system</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Formal Charge</td>
            <td>In chemistry, a formal charge (FC) is the charge assigned to an atom in a molecule, assuming that electrons in all chemical bonds are shared equally between atoms, regardless of relative electronegativity.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>MR Values</td>
            <td>The relative formula mass of a compound.</td>
            <td>Float</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Fraction of SP3 Carbon</td>
            <td>Self explanatory.</td>
            <td>Float</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Carboxylic Acids</td>
            <td>A carboxylic acid is an organic compound that contains a carboxyl group (C(=O)OH).</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Molecular Weight</td>
            <td>Molecular mass or molecular weight is the mass of a molecule. It is calculated as the sum of the atomic weights of each constituent element multiplied by the number of atoms of that element in the molecular formula.</td>
            <td>Float</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td>Rotatable Bonds</td>
            <td>The number of rotatable bonds (RBN) is the number of bonds which allow free rotation around themselves.</td>
            <td>Integer</td>
            <td>Generated from SMILES</td>
        </tr>
        <tr>
            <td colspan="4">
                <span class="text_bold">External Sources</span>
            </td>
        </tr>
        <tr>
            <td>ChEBI ID</td>
            <td>ChEBI Identifier</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>HMDB Accession</td>
            <td>HMDB Accession Number</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>PubChem ID</td>
            <td>PubChem Identifier</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>KEGG Compound</td>
            <td>KEGG Compound Identifier</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>CAS</td>
            <td>CAS Registry Number</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>Wikidata</td>
            <td>Wikidata Identifier</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>Chemspider</td>
            <td>Chemspider Identifier</td>
            <td>String</td>
            <td>BridgeDb, or source</td>
        </tr>
        <tr>
            <td>BioCyc</td>
            <td>Bio/MetaCyc Identifier</td>
            <td>String</td>
            <td>BioCyc</td>
        </tr>
        <tr>
            <td colspan="4">
                <span class="text_bold">Pathways</span>
            </td>
        </tr>
        <tr>
            <td>SMPDB</td>
            <td>Small Molecule Pathway Database Identifier</td>
            <td>List</td>
            <td>HMDB.</td>
        </tr>
        <tr>
            <td>BioCyc</td>
            <td>BioCyc Pathway Database Identifier</td>
            <td>List</td>
            <td>BioCyc</td>
        </tr>
        <tr>
            <td>KEGG</td>
            <td>KEGG Pathway Database Identifier</td>
            <td>List</td>
            <td>KEGG</td>
        </tr>
        <tr>
            <td colspan="4">
                <span class="text_bold">Adducts</span>
            </td>
        </tr>
        <tr>
            <td>Polarity</td>
            <td>Polarity</td>
            <td>Float</td>
            <td>pyIDICk</td>
        </tr>
        <tr>
            <td>Accurate Mass</td>
            <td>Precusor Peak</td>
            <td>Float</td>
            <td>pyIDICk</td>
        </tr>
        <tr>
            <td>Adduct</td>
            <td>Adduct Type ([M], [M+H]1+...)</td>
            <td>String</td>
            <td>pyIDICk</td>
        </tr>
        <tr>
            <td>Isotopic Distribution</td>
            <td>Calculated isotopic distribution</td>
            <td>List</td>
            <td>pyIDICk</td>
        </tr>
    </table>


    <a name="#contact"><h1>Contact Us</h1></a>

    <p>To report issues with the website, database, or to request assistance - please send an email to keo7@aber.ac.uk.</p>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/prismjs/prism.js') }}"></script>

{% endblock %}