{% macro render_form_field(field, label=None, type="string") %}
    {% set css_class='form-control ' + kwargs.pop('class', '') %}
    <div class="form-group row">

    {% for error in field.errors %}
        <div class="alert alert-danger">
            <i class="glyphicon glyphicon-alert"></i> <b>Error:</b> {{ error }}
        </div>
    {% endfor %}

    {% if type == "string" %}
        <input type="string" class="form-control" name="{{ field.name }}" placeholder="{{ label }}">
    {% elif type == "password" %}
        {{ field(class=css_class, placeholder=label, **kwargs) }}
    {% elif type =="checkbox" %}
       <p>{{ field }} {{ label }}</p>
    {% elif type == "text" %}
        <textarea class="form-control" name="{{ field.name }}" placeholder="{{ label }}"></textarea>

    {% elif type == "country" %}
        <input type="text" id="country_selector" name="{{ field.name }}" data-countrycodeinput="1" readonly="readonly"
               placeholder="Selected country code will appear here" class="form-control"/>
    {% elif type == "radio" %}
        <p><b>{{ label }}:</b></p>
        {% for s in field %}
            <label class="radio-inline">{{ s }}{{ s.label }}</label>
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}



{% macro display_warnings() %}
 {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning"><i class="glyphicon glyphicon-alert"></i> <b>Warning:</b> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta name="author" content="Keiron O'Shea">
    <title>{% block title %}{% endblock %} : DIMEdb - Direct Infusion MEtabolite Database</title>
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/datatables/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet">
    {% block head %}
    {% endblock %}
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png') }}"/>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/dimedb-nav.svg')}}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('homepage')}}">
                    <i class="glyphicon glyphicon-home"></i> Home
                </a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-search"></i> Search <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('text_search') }}">Text Search</a></li>
                  <li><a href="{{ url_for('mass_search')}}">Mass Search</a></li>
                </ul>
                </li>
                {% if g.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-list"></i> Tables <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('public_tables') }}">Public Tables</a></li>
                        <li><a href="{{ url_for('mytables') }}">My Tables</a></li>
                        <li><a href="{{ url_for('create_table') }}">Create Table</a></li>

                    </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('public_tables') }}"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                {% endif %}
                <li><a href="{{ url_for('help')}}">
                    <i class="glyphicon glyphicon-question-sign"></i> Help
                </a></li>
                {% if g.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <img src="{{ g.user.avatar(18) }}" class="profile-image img-circle"> {{ g.user.first_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('management') }}">Account Management</a></li>
                            <li><a href="{{ url_for('logout') }}"><div class="btn btn-danger full-width">Log Out</div></a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('login') }}"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block abovebody %}

{% endblock %}

<div class="container">
{% block body %}
{% endblock %}
</div>


<footer>
    <div class="container">
        <p>DIMEdb is developed by researchers from <a href="http://www.aber.ac.uk">Aberystwyth
            University</a>.</p>
    </div>
</footer>

</body>

<!-- Javascript Imports -->
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables/media/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>

{% block javascript %}
{% endblock %}

</html>