<div class="modal fade" id="isotopic_distribution_modal" role="dialog">
    <div class="modal-dialog model-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Isotopic Distribution</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="distribution_table" width="100%">
                    <thead>
                    <tr>
                        <th width="50%" class="text-center">Mass (m/z)</th>
                        <th width="50%" class="text-center">Intensity (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>