<div class="modal fade" id="pathway_view_modal" role="dialog">
    <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pathway: <span class="pathway_m_name"></span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="molecular_search_table" width="100%">

                </table>
            </div>
        </div>
    </div>
</div>