<div class="modal fade" id="physiochemical_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Physiochemical Properties</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th width="40%">
                                Molecular Weight:
                            </th>
                            <td>
                                <span id="molecular_weight"></span> g/mol
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hydrogen Bond Donors:
                            </th>
                            <td>
                                <span id="hbd"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hydrogen Bond Acceptors:
                            </th>
                            <td>
                                <span id="hba"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rotatable Bonds:
                            </th>
                            <td>
                                <span id="rotatable_bonds"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Formal Charge:
                            </th>
                            <td>
                                <span id="formal_charge"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Fraction of SP3 Carbon:
                            </th>
                            <td>
                                <span id="fraction_of_sp3"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                clogP Value:
                            </th>
                            <td>
                                <span id="clogp"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Polar Surface Area:
                            </th>
                            <td>
                                <span id="polar_surface_area"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                MR Values:
                            </th>
                            <td>
                                <span id="mr_values"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rings:
                            </th>
                            <td>
                                <span id="rings"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Aromatic Rings:
                            </th>
                            <td>
                                <span id="aromatic_rings"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Heavy Atoms:
                            </th>
                            <td>
                                <span id="heavy_atoms"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Secondary Amines:
                            </th>
                            <td>
                                <span id="secondary_amines"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Ether Oxygens:
                            </th>
                            <td>
                                <span id="ether_oxygens"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hydroxy Groups:
                            </th>
                            <td>
                                <span id="hydroxy_groups"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Carboxylic Acids:
                            </th>
                            <td>
                                <span id="carboxylic_acids"></span>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>