{% extends "template.html" %}

{% block title %}Download Centre{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
      <div class="container">
        <h1>Download Centre</h1>
      </div>
    </div>
{% endblock %}

{% block body %}

    <h2>Database Information</h2>

    <table class="table table-striped">
        <tr>
            <th width="70%">File Name</th>
            <th width="30">File Size</th>
        </tr>
        {% for f in files %}
            <tr>
                <td><a href="{{ url_for('get_file', fn=f[0]) }}">
                    {{ f[0] }}</a></td>
                <td>{{ f[1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Software</h2>




{% endblock %}