[Unit]
Description=uWSGI instance to serve dimedb
After=network.target

[Service]
User=keo7
Group=www-data
WorkingDirectory=/home/keo7/DIMEdb/dimedb/
Environment="PATH=/home/keo7/.local/bin"
ExecStart=/home/keo7/.local/bin/uwsgi --ini dimedb.ini

[Install]
WantedBy=multi-user.target
