<div class="modal fade" id="metabolite_card" role="dialog">
    <div class="modal-dialog metabolite-card">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="card_metabolite_name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container">
                        <table id="card_table" class="table table-striped">
                            <tbody>
                            <tr>
                                <th width="30%">Molecular Formula</th>
                                <td id="card_molecular_formula">
                                </td>
                            </tr>
                            <tr>
                                <th>Accurate Mass (m/z)</th>
                                <td id="card_accurate_mass"></td>
                            </tr>
                            <tr>
                                <th>Neutral Mass (m/z)</th>
                                <td id="card_neutral_mass"></td>
                            </tr>
                            <tr>
                                <th>Origins</th>
                                <td id="card_origins">
                                </td>
                            </tr>
                            <tr>
                                <th>Biofluids</th>
                                <td id="card_biofluids"></td>
                            </tr>
                            <tr>
                                <th>Tissues</th>
                                <td id="card_tissues"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-plus-sign"></i> Positive
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body list-group collapse" id="card_positive_adduct">
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-minus-sign"></i> Negative
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body list-group collapse" id="card_negative_adduct">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>