{% extends "template.html" %}

{% block title %}Help{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
      <div class="container">
        <h1>Help Centre</h1>
      </div>
    </div>
{% endblock %}

{% block body %}

    <p>This page contains information about how to interact with DIMEdb’s web application and
        web service.</p>

    <a name="#faq"><h2 class="page-header">Frequently Asked Questions</h2></a>
    <h3>What databases does DIMEdb use to collate its data from?</h3>

    <p>HMDB, PubChem, CHEBI, and KEGG.</p>

    <h3>Where can I download DIMEdb?</h3>

    <p>Visit the <a href="{{ url_for('downloads_centre') }}">download centre</a> for more information.</p>

    <h3>How can I cite DIMEdb?</h3>

    <p>Publication Pending.</p>

    <a name="#api"><h2 class="page-header">DIMEdb Web Service/API</h2></a>

    <p>DIMEdb features a application programming interface (API) which enables anyone to extract data without
        the need of the web application. The API is built with ease-of-use in mind, allowing you to download
        relevant information without having to download the entirety of the database.</p>

    <h3>Queries</h3>

    <h3>Data Documentation</h3>

    <table>

    </table>

{% endblock %}

{% block javascript %}
{% endblock %}