{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block abovebody %}
    <div id="homepage_jumbotron" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <img src="{{ url_for('static', filename='imgs/dimedb-light.svg') }}">
                    <h3>A database of biologically relevant metabolite structures and annotations</h3>
                    <h4>DIMEdb...</h4>
                </div>
                <div class="col-sm-5">
                    <a href="{{ url_for('mass_search') }}">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-search"></i> Mass Search
                        </div>
                    </a>
                    <div class="clearfix"></div>
                    <a href="{{ url_for('text_search') }}">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-search"></i> Text Search
                        </div>
                    </a>
                    <div class="clearfix"></div>
                    <a href="{{ url_for('help') }}#api">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-wrench"></i> DIMEdb Web Service
                        </div>
                    </a>
                    <div class="clearfix"></div>
                    <a href="{{ url_for('help') }}">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-question-sign"></i> Help Centre
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="alert alert-danger"><strong><span class="glyphicon glyphicon-warning-sign"></span>
        Warning!</strong> This service is currently in early beta stages, and thus we cannot
        guarantee that it is completely error/bug free. Please report any problems or inaccuracies you encounter to
        <a href="mailto:keo7@aber.ac.uk">keo7@aber.ac.uk</a>.
    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-sm-4">
                <h1><i class="glyphicon glyphicon-search"></i></h1>
                <h2>Web Search</h2>
                <p>DIMEdb features both textual and mass metabolite search facilities.</p>
            </div>
            <div class="col-sm-4">
                <h1><i class="glyphicon glyphicon-wrench"></i></h1>
                <h2>Web Service</h2>
                <p>DIMEdb offers programmatic access to metabolite information,
                    facilitating the development of bioinformatic tools.</p>
            </div>
            <div class="col-sm-4">
                <h1><i class="glyphicon glyphicon-tree-deciduous"></i></h1>
                <h2>Open Source</h2>
                <p>DIMEdb is a open source project, all contributions are welcome!</p>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}