{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <meta name="description" content="DIMEdb database of metabolites for Direct Infusion/Injection Metabolomics." />
{% endblock %}

{% block abovebody %}
    <div id="homepage_jumbotron" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <img src="{{ url_for('static', filename='imgs/dimedb-light.svg') }}">
                    <h3>A database of biologically relevant metabolite structures and annotations</h3>
                    <h5><i class="glyphicon glyphicon-stats"></i> {{ count }} Freely Accessible Metabolites</h5>
                </div>
                <div class="col-sm-5">
                    <a href="{{ url_for('mass_search') }}">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-search"></i> Mass Search
                        </div>
                    </a>
                    <div class="clearfix"></div>
                    <a href="{{ url_for('text_search') }}">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-search"></i> Text Search
                        </div>
                    </a>
                    <div class="clearfix"></div>
                    <a href="{{ url_for('help') }}#api">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-wrench"></i> DIMEdb Web Service
                        </div>
                    </a>
                    <div class="clearfix"></div>
                    <a href="{{ url_for('help') }}">
                        <div class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-question-sign"></i> Help Centre
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="alert alert-danger"><strong><span class="glyphicon glyphicon-warning-sign"></span>
        Warning!</strong> This service is currently in early beta stages, and thus we cannot
        guarantee that it is completely error/bug free. Please report any problems or inaccuracies you encounter to
        <a href="mailto:keo7@aber.ac.uk">keo7@aber.ac.uk</a>.
    </div>

    <div class="row">
    <div class="col-sm-8">
        <h1>Web Application</h1>
        <h4>DIMEdb provides a simple to use web application that facilitates end users to interrogate the DIMEdb web service using a graphical user interface.</h4>
    </div>
    <div class="col-sm-4">
        <img class="img-responsive" src="{{ url_for('static', filename='imgs/webapp.png') }}">
    </div>
    </div>

    <hr>

    <div class="row">
    <div class="col-sm-4">
        <img class="img-responsive" src="{{ url_for('static', filename='imgs/webservice.png') }}">
    </div>
    <div class="col-sm-8">
        <h1>Web Service</h1>

        <h4>Using this service, we are able to facilitate allow users to create web service clients that can make use of the integrated metabolomic database for their own applications. </h4>
    </div>
    </div>

    <hr>

    <div class="row">
    <div class="col-sm-8">
        <h1>Open Source</h1>
        <h4>All of our software and databases are freely downloadable under open source licenses.</h4>
    </div>
    <div class="col-sm-4">
        <img class="img-responsive" src="{{ url_for('static', filename='imgs/opensource.svg') }}">
    </div>
    </div>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}