{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='bower_components/bootstrap-toggle/css/bootstrap-toggle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div id="home-page-welcome-search">
        <img src="{{ url_for('static', filename='imgs/dimedb.png')}}">

        <div class="input-group">
            <input type="text" class="search-query form-control" id="search_text" placeholder="Search metabolite name (Sucrose, Ganglioside GM1...)">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="search_button">
                    <span class=" glyphicon glyphicon-search"></span> Search
                </button>
            </span>
        </div>
    </div>

    <div id="home-page-search-results">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/dimedb-small.png')}}"></a>
            </div>
            <div class="col-md-10">
                <div class="input-group">
            <input type="text" class="search-query form-control" id="search_text_results" placeholder="Search metabolite name (Sucrose, Ganglioside GM1...)">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="search_text_button">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </span>
        </div>
            </div>
        </div>

        <table id="search_results" class="table table-striped table-responsive display" width="100%">
            <thead>
                <tr>
                </tr>
            </thead>
        </table>

    <a id="download_json" download="response.json"><div class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-download"></i> Download JSON
    </div></a>


    </div>



{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='bower_components/bootstrap-toggle/js/bootstrap-toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/home_search.js') }}"></script>

{% endblock %}