{% extends "template.html" %}

{% block title %}Advanced Search{% endblock %}

{% block body %}

    <h1>Advanced Search</h1>


    <div id="advanced-search-container">
        <div class="panel-group" id="advanced-search-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#advanced-search-accordion"
                           href="#toggle_advanced_search">
                            <div class="btn btn-primary btn-sm pull-right">
                                Click to toggle <i class="glyphicon glyphicon-arrow-down"></i>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div id="toggle_advanced_search" class="panel-collapse collapse in">
                    <div class="container">
                        <div class="alert alert-danger"><strong><span class="glyphicon glyphicon-warning-sign"></span>
                            Warning!</strong> This service is currently in early alpha stages, and thus we cannot
                            guarentee that it is completely error/bug free. Please report any errors/bugs you may
                            encounter to
                            <a href="mailto:keo7@aber.ac.uk">keo7@aber.ac.uk</a>.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Masses (m/z):</label>
                        </div>
                        <div class="col-md-9">
                            <input id="masses" type="text" value="67.3,112.24,240.10" data-role="tagsinput"/>
                            <p class="small">(Seperate masses using ",")</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Tolerance:</label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input id="ppm_tolerance" type="number" class="form-control" min="1" max="20" value="5"
                                       aria-describedby="ppm_label">
                                <span class="input-group-addon" id="ppm_label">ppm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Ionisation:</label>
                        </div>
                        <div class="col-md-5">
                            <div class="radio">
                                <label><input type="radio" name="ionisation" value="neutral" checked>Neutral</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="ionisation" value="positive">Positive (+)</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="ionisation" value="negative">Negative (-)</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select multiple class="form-control" id="ionisation-adducts">
                                <option selected>M</option>
                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label>Origins:</label>
                        </div>
                        <div class="col-md-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="origins" value="Endogenous">
                                Endogenous
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="origins" value="Food">
                                Food
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="origins" value="Drug">
                                Drug
                            </label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Biofluids:</label>
                        </div>
                        <div class="col-md-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="biofluids" value="Blood">
                                Blood
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="biofluids" value="Saliva">
                                Saliva
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="biofluids" value="Urine">
                                Urine
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="biofluids" value="CSF">
                                CSF
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-success" id="search_button">
                                <i class="glyphicon glyphicon-search"></i> Search
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="advanced_search_results">
        <h2>Search Results</h2>
    </div>


{% endblock %}



{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}