<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta name="author" content="Keiron O'Shea">
    <title>{% block title %}{% endblock %} : DIMEdb - Direct Infusion MEtabolite Database</title>
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/datatables/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet">
    {% block head %}
    {% endblock %}
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png') }}"/>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/dimedb-nav.png')}}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('search')}}">
                    <i class="glyphicon glyphicon-search"></i> Advanced Search
                </a></li>
                <li><a href="{{ url_for('help')}}">
                    <i class="glyphicon glyphicon-question-sign"></i> Help
                </a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
{% block body %}
{% endblock %}
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted">DIMEdb is developed by researchers from <a href="http://www.aber.ac.uk">Aberystwyth
            University</a>.</p>
    </div>
</footer>

{% include "modals/clipboard.html" %}

</body>

<!-- Javascript Imports -->
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables/media/js/dataTables.bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script src="{{ url_for('static', filename='js/clipboard.js') }}"></script>


{% block javascript %}
{% endblock %}

</html>