{% extends "template.html" %}

{% block title %}Loading{% endblock %}

{% block body %}
    <h1 id="name"></h1>

    <div id="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Molecular Structure <i class="glyphicon glyphicon-eye-open pull-right"></i>
                </div>
                <div class="panel-body">
                     <img id="structure" src="" style="display:block; margin:0 auto 0; width:100%;">
                </div>
                <div class="panel-footer">
                    <div class="btn-toolbar">
                        <div id="smiles_view" class="btn btn-sm pull-right">
                            <i class="glyphicon glyphicon-eye-open"></i> SMILES
                        </div>
                        <div id="inchi_view" class="btn btn-sm pull-right">
                            <i class="glyphicon glyphicon-eye-open"></i> InChI
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Data Sources <i class="glyphicon glyphicon-link pull-right"></i>
                </div>
                <div class="panel-body">
                    <ul id="data_sources">

                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    KEGG Pathways <i class="glyphicon glyphicon-glass pull-right"></i>
                </div>
                <ul id="kegg_pathways_list" class="list-group">

                </ul>
            </div>

        </div>
        <div class="col-sm-9">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th width="25%">Synonyms:</th>
                        <td><div id="synonyms" class="comment more"></div></td>
                    </tr>
                    <tr>
                        <th width="25%">Molecular Formula:</th>
                        <td id="molecular_formula"></td>
                    </tr>
                    <tr>
                        <th width="25%">Number of Atoms:</th>
                        <td id="num_atoms"></td>
                    </tr>
                    <tr>
                        <th width="25%">Accurate Mass (m/z):</th>
                        <td id="accurate_mass"></td>
                    </tr>
                    <tr>
                        <th width="25%">Neutral Mass (m/z):</th>
                        <td id="neutral_mass"></td>
                    </tr>
                    <tr>
                        <th width="25%">Origins:</th>
                        <td id="origins"></td>
                    </tr>
                    <tr>
                        <th width="25%">Biofluid Location:</th>
                        <td id="biofluids"></td>
                    </tr>
                    <tr>
                        <th width="25%">Tissue Location:</th>
                        <td id="tissue"></td>
                    </tr>
                </tbody>
            </table>

            <h2>Isotopic Information: <span id="adduct_label"></span></h2>

            <div id="row">
                <div class="col-sm-8">
                    <div id="isotopic_distribution_chart" style="height:500px; padding:1em;">

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Isotopic Distribution Table
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped" id="distribution_table" width="100%">
                                <thead>
                                    <tr>
                                        <th width="50%" class="text-center">Mass (m/z)</th>
                                        <th width="50%" class="text-center">Intensity (%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div id="row">
                <div class="col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Positive <i class="glyphicon glyphicon-plus-sign pull-right"></i>
                        </div>
                        <ul id="positive_adducts_list" class="list-group">

                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Negative <i class="glyphicon glyphicon-minus-sign pull-right"></i>
                        </div>
                        <ul id="negative_adducts_list" class="list-group">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "modals/view/inchi.html" %}
    {% include "modals/view/smiles.html" %}

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='bower_components/plotly/plotly.js') }}"></script>
<script src="{{ url_for('static', filename='js/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comment.js') }}"></script>

<script>
render_metabolite_view("{{ id }}")
</script>
{% endblock %}
