{% extends "template.html" %}

{% block title %}Loading{% endblock %}

{% block body %}

    <div id="loading_divider">
        <h1><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading Metabolite...</h1>
    </div>
    <div id="metabolite_view" style="display:none;">
        <h1 id="name"></h1>

        <div id="row">
            <div class="col-sm-8">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th width="40%">
                            Synonyms:
                        </th>
                        <td>
                            <div id="synonyms" class="comment more"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            IUPAC Name:
                        </th>
                        <td>
                            <div id="iupacname"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Molecular Formula:
                        </th>
                        <td>
                            <div id="molform"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            SMILES:
                        </th>
                        <td>
                            <div id="smiles" class="comment more"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            InChI:
                        </th>
                        <td>
                            <div id="inchi" class="comment more"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Physiochemical Properties:
                        </th>
                        <td>
                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#molecular_properties">
                                View
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <div class="col-sm-4">

                <div class="panel panel-default">
                <div class="panel-heading">
                    2D Molecular Structure <i class="glyphicon glyphicon-eye-open pull-right"></i>
                </div>
                <div class="panel-body">
                     <img id="structure" src="" style="display:block; margin:0 auto 0; width:100%;">
                </div>

                </div>


                <div class="panel panel-default">

                  <div class="panel-heading">Identifiers</div>
                    <ul class="list-group" id="id_list">

                  </ul>
                </div>
            </div>

        </div>
    </div>

    {% include "modals/view/molecular_properties.html" %}


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/plotly/plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comment.js') }}"></script>

    <script>
        render_metabolite_view("{{ id }}");
        $("#loading_divider").fadeOut(10);
        $("#metabolite_view").fadeIn(500);
    </script>
{% endblock %}
