#spooky_skeleton {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  height: 400px;
  margin-top: -200px;
  width: 60%;
  margin-left: -300px;
}

#spooky_skeleton img {
  width: 400px;
}

#spooky_skeleton h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h5 {
  text-align: center;
}

#biocyc_pathways {
  display: none;
}

#smpdb_pathways {
  display: none;
}

#kegg_pathways {
  display: none;
}

.img-responsive {
  width: 100%;
}

#isotopic_distribution_chart {
  display: inline-block;
  height: 100px;
}

.isotopic_distribution_chart {
  position: relative;
  height: 300px;
  margin-bottom: 1em;
}

.loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}
