{% extends "template.html" %}

{% block title %}Download Centre{% endblock %}


{% block head %}
    <link href="{{ url_for('static', filename='bower_components/prismjs/themes/prism.css') }}" rel="stylesheet">
{% endblock %}


{% block page_title %}
    <h1>Download Centre</h1>
{% endblock %}

{% block body %}

    <h2>Database Information</h2>

    <p>It is possible to download DIMEdb directly without going through the DIMEdb web service.</p>

    <table class="table table-striped">
        <tr>
            <th width="70%">File Name</th>
            <th width="30">File Size</th>
        </tr>
        {% for f in files %}
            <tr>
                <td><a href="{{ url_for('get_file', fn=f[0]) }}">
                    {{ f[0] }}</a></td>
                <td>{{ f[1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Available Software</h2>

    <h3>dimedbpy: Python wrapper for the DIMEdb REST API.</h3>

    <p>dimedbyp provides a way to interact with the DIMEdb web service in Python. It
    provides metabolite queries by name, structure, and adduct information.</p>

    <P>Here's a quick example, showing how to retrieve metabolites by id (InChIKey):</P>

    <pre class="language-python"><code class="language-python">from dimedbpy import get_metabolites

metabolites = get_metabolites("DOUMFZQKYFQNTF-WUTVXBCWSA-N")

for metabolite in metabolites:
    print metabolite.name</code></pre>

    <p>dimedbpy is licensed under the open source MIT licence, and is freely available <a href="https://github.com/KeironO/dimedbpy"
                                                                              target="_blank">here</a>.</p>

    <h3>pyIDICk: Python Isotopic Distribution Calculator</h3>

    <p>pyIDICk can calculate the isotopic distribution of a given SMILES string.</p>

    <p>Here's an example of how to use the package.</p>


    <pre class="language-python"><code class="language-python">import pyidick

# Create Molecule object for H2O
m = pyidick.Molecule("O")

# Return Molecular Formula
m.molecular_formula

#Calculate Isotopic Distribution
m.isotopic_distribution()</code></pre>

    <p>pyIDICK is licensed under the open source MIT licence, and is freely available <a href="https://github.com/KeironO/pyidick"
                                                                              target="_blank">here</a>.</p>

{% endblock %}