{% extends "template.html" %}

{% block title %}Loading{% endblock %}

{% block abovebody %}
    <div class="jumbotron">
      <div class="container">
          <h1 id="name"></h1>
        </div>
      </div>
    </div>
{% endblock %}

{% block body %}

    <div id="loading_divider">
        <h1><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading Metabolite...</h1>
    </div>
    <div id="metabolite_view" style="display:none;">
        <div class="row">
            <div class="col-sm-8">
                <h4>Identification Information</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th width="30%">
                                    Synonyms:
                                </th>
                                <td>
                                    <span id="synonyms" class="comment more"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Systematic Name:
                                </th>
                                <td>
                                    <span id="systematic_name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    IUPAC Name:
                                </th>
                                <td>
                                    <span id="iupac_name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    InChI:
                                </th>
                                <td>
                                    <span id="inchi" class="comment more"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    InChI Key:
                                </th>
                                <td>
                                    <span id="inchi_key"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    SMILES:
                                </th>
                                <td>
                                    <span id="smiles" class="comment more"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Molecular Formula:
                                </th>
                                <td>
                                    <span id="molecular_formula"></span>
                                    <span id="formula_search_button" class="btn btn-primary btn-sm pull-right">
                                        <i class="glyphicon glyphicon-search"></i> Search
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                <hr>

                <h4>Adduct Information</h4>

                <table class="table table-striped">
                    <tr>
                        <th width="30%">
                            Ionisation:
                        </th>
                        <td>
                            <label class="checkbox-inline"><input type="radio" name="ionisation" value="Neutral" checked> Neutral</label>
                            <label class="checkbox-inline"><input type="radio" name="ionisation" value="Positive"> Positive</label>
                            <label class="checkbox-inline"><input type="radio" name="ionisation" value="Negative"> Negative</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Adduct:
                        </th>
                        <td>
                            <select id="adduct_selector"></select>
                        </td>
                    </tr>
                </table>

                <div class="isotopic_distribution_chart">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="clearfix"></div>

                <div class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#isotopic_distribution_modal">
                    Isotopic Distribution Table
                </div>

                <div class="clearfix"></div>

                <hr>

                <h4>Pathways</h4>

                <table class="table table-striped">
                    <tr>
                        <th width="30%">
                            KEGG:
                        </th>
                        <td>
                            <span id="kegg_pcount"></span> Available <div class="btn btn-sm btn-primary pull-right">View</div>
                        </td>
                    </tr>
                    <tr>
                        <th width="30%">
                            SMPDB:
                        </th>
                        <td>
                            <span id="smpdb_pcount"></span> Available <div class="btn btn-sm btn-primary pull-right">View</div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        2D Molecular Structure <i class="glyphicon glyphicon-eye-open pull-right"></i>
                    </div>
                    <div class="panel-body">
                         <img id="structure" src="" style="display:block; margin:0 auto 0; width:100%;">
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        External Sources <i class="glyphicon glyphicon-link pull-right"></i>
                    </div>
                    <ul class="list-group" id="external_sources_list">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Physiochemical Information
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Molecular Weight: <span id="main_molecular_weight"></span> g/mol</li>
                        <li class="list-group-item">Hydrogen Bond Acceptors: <span id="main_hba"></span> </li>
                        <li class="list-group-item">Hydrogen Bond Donors: <span id="main_hbd"></span></li>
                        <li class="list-group-item">Formal Charge: <span id="main_formal_charge"></span></li>
                    </ul>
                    <div class="panel-footer">
                        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#physiochemical_modal">
                            View All Properties
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% include "view/modals/physiochemical_modal.html" %}
{% include "view/modals/isotopic_distribution_modal.html" %}
{% include "view/modals/formula_search_modal.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='bower_components/chartjs/dist/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comment.js') }}"></script>

    <script>
        render_metabolite_view("{{ id }}");
        $("#loading_divider").fadeOut(10);
        $("#metabolite_view").fadeIn(500);
    </script>
{% endblock %}
